<a href="https://colab.research.google.com/github/allaboutsimple/aibootcamp/blob/main/N112.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from google.colab import files
myfiles=files.upload()

Saving Travel.csv to Travel (2).csv

In [57]:
import pandas as  pd
import io

df = pd.read_csv(io.BytesIO(myfiles['Travel.csv']))
print(df)

        주요재무정보 2019/09\n(IFRS연결)  ... 2021/03(E)\n(IFRS연결) 2021/06(E)\n(IFRS연결)
0          매출액            14,753  ...                9,761                9,820
1         영업이익               574  ...                  144                  265
2   영업이익(발표기준)               574  ...                  NaN                  NaN
3     세전계속사업이익               376  ...                   14                  172
4        당기순이익               274  ...                   71                  214
5    당기순이익(지배)               277  ...                   53                  123
6   당기순이익(비지배)                -3  ...                  NaN                  NaN
7         자산총계            37,747  ...                  NaN                  NaN
8         부채총계            28,854  ...                  NaN                  NaN
9         자본총계             8,893  ...                  NaN                  NaN
10    자본총계(지배)             8,889  ...                  NaN                  NaN
11   자본총계(비지배)                 4  ...                  NaN                  NaN
12         자본금             2,000  ...                  NaN                  NaN
13    영업활동현금흐름             1,652  ...                  NaN                  NaN
14    투자활동현금흐름              -284  ...                  NaN                  NaN
15    재무활동현금흐름              -900  ...                  NaN                  NaN
16       CAPEX               159  ...                  NaN                  NaN
17         FCF             1,493  ...                  NaN                  NaN
18      이자발생부채            19,035  ...                  NaN                  NaN
19       영업이익률              3.89  ...                 1.47                  2.7
20        순이익률              1.86  ...                 0.73                 2.18
21      ROE(%)             13.18  ...                  NaN                  NaN
22      ROA(%)              3.62  ...                  NaN                  NaN
23        부채비율            324.45  ...                  NaN                  NaN
24       자본유보율             395.1  ...                  NaN                  NaN
25      EPS(원)               692  ...                  133                  308
26      PER(배)             31.19  ...                  NaN                  NaN
27      BPS(원)            23,484  ...                  NaN                  NaN
28      PBR(배)              3.67  ...                  NaN                  NaN
29    현금DPS(원)                 0  ...                  NaN                  NaN
30     현금배당수익률               NaN  ...                  NaN                  NaN
31   현금배당성향(%)                 0  ...                  NaN                  NaN

[32 rows x 9 columns]

In [60]:
column_headers = ['매출액','영업이익','영업이익(발표기준)','세전계속사업이익','당기순이익','당기순이익(지배)','당기순이익(비지배)','자산총계','부채총계','자본총계','자본총계(지배)','자본총계(비지배)','자본금']
df = pd.read_csv(io.BytesIO(myfiles['Travel.csv']), names = column_headers)
print(df.head())
print(df.shape)

          매출액               영업이익         영업이익(발표기준)  ... 자본총계(지배) 자본총계(비지배) 자본금
0      주요재무정보  2019/09\n(IFRS연결)  2019/12\n(IFRS연결)  ...      NaN       NaN NaN
1         매출액             14,753             15,440  ...      NaN       NaN NaN
2        영업이익                574                776  ...      NaN       NaN NaN
3  영업이익(발표기준)                574                776  ...      NaN       NaN NaN
4    세전계속사업이익                376                538  ...      NaN       NaN NaN

[5 rows x 13 columns]
(33, 13)

In [67]:
df=df.transpose()
df

                          1     2           3   ...        30       31         32
0                                               ...
주요재무정보                   매출액  영업이익  영업이익(발표기준)  ...  현금DPS(원)  현금배당수익률  현금배당성향(%)
2019/09\n(IFRS연결)     14,753   574         574  ...         0      NaN          0
2019/12\n(IFRS연결)     15,440   776         776  ...       350      NaN      34.94
2020/03\n(IFRS연결)      9,437  -668        -668  ...       NaN      NaN          0
2020/06\n(IFRS연결)      5,230  -634        -634  ...       NaN      NaN          0
2020/09\n(IFRS연결)      8,795  -198        -198  ...       NaN      NaN        NaN
2020/12(E)\n(IFRS연결)   9,980    50         NaN  ...       NaN      NaN        NaN
2021/03(E)\n(IFRS연결)   9,761   144         NaN  ...       NaN      NaN        NaN
2021/06(E)\n(IFRS연결)   9,820   265         NaN  ...       NaN      NaN        NaN
NaN                      NaN   NaN         NaN  ...       NaN      NaN        NaN
NaN                      NaN   NaN         NaN  ...       NaN      NaN        NaN
NaN                      NaN   NaN         NaN  ...       NaN      NaN        NaN
NaN                      NaN   NaN         NaN  ...       NaN      NaN        NaN

[13 rows x 32 columns]

In [68]:
df.rename(columns=df.iloc[0],inplace=True)
df = df.drop(df.index[0])
df

                         매출액  영업이익 영업이익(발표기준)  ... 현금DPS(원) 현금배당수익률 현금배당성향(%)
0                                              ...
2019/09\n(IFRS연결)     14,753   574        574  ...        0     NaN         0
2019/12\n(IFRS연결)     15,440   776        776  ...      350     NaN     34.94
2020/03\n(IFRS연결)      9,437  -668       -668  ...      NaN     NaN         0
2020/06\n(IFRS연결)      5,230  -634       -634  ...      NaN     NaN         0
2020/09\n(IFRS연결)      8,795  -198       -198  ...      NaN     NaN       NaN
2020/12(E)\n(IFRS연결)   9,980    50        NaN  ...      NaN     NaN       NaN
2021/03(E)\n(IFRS연결)   9,761   144        NaN  ...      NaN     NaN       NaN
2021/06(E)\n(IFRS연결)   9,820   265        NaN  ...      NaN     NaN       NaN
NaN                      NaN   NaN        NaN  ...      NaN     NaN       NaN
NaN                      NaN   NaN        NaN  ...      NaN     NaN       NaN
NaN                      NaN   NaN        NaN  ...      NaN     NaN       NaN
NaN                      NaN   NaN        NaN  ...      NaN     NaN       NaN

[12 rows x 32 columns]

In [71]:
df.shape

(12, 32)

In [73]:
df.fillna(0)

                         매출액  영업이익 영업이익(발표기준)  ... 현금DPS(원) 현금배당수익률 현금배당성향(%)
0                                              ...
2019/09\n(IFRS연결)     14,753   574        574  ...        0       0         0
2019/12\n(IFRS연결)     15,440   776        776  ...      350       0     34.94
2020/03\n(IFRS연결)      9,437  -668       -668  ...        0       0         0
2020/06\n(IFRS연결)      5,230  -634       -634  ...        0       0         0
2020/09\n(IFRS연결)      8,795  -198       -198  ...        0       0         0
2020/12(E)\n(IFRS연결)   9,980    50          0  ...        0       0         0
2021/03(E)\n(IFRS연결)   9,761   144          0  ...        0       0         0
2021/06(E)\n(IFRS연결)   9,820   265          0  ...        0       0         0
NaN                        0     0          0  ...        0       0         0
NaN                        0     0          0  ...        0       0         0
NaN                        0     0          0  ...        0       0         0
NaN                        0     0          0  ...        0       0         0

[12 rows x 32 columns]

In [74]:
df.fcf

AttributeError: ignored

In [79]:
from matplotlib import pyplot as plt
import seaborn as sns

In [84]:
import numpy as np
label = np.array(FCF)
print(label)

NameError: ignored